<div ng-controller="GameController">
  
  <div class="container">
    <div ng-repeat="num in data.numbers track by $index" 
         ng-class="{'success': num.status === 'success', 'failure': num.status === 'failure'}"
         ng-click="checkMatches($index)"
         name="{{num.match}}"
         class="number">
    {{num.value}}
    </div>
  </div>
  <aside>
    <h3 name="alert">{{status.message}}</h3>
    <button type="button" name="refresh" ng-click="refresh()">Refresh</button>
  </aside>
</div>