/* custom styles */
body {
  background: rgba(0, 0, 0, 0.5) url('../images/bg.jpg') repeat top left;
}
.container {
  width    : 860px;
  height   : 344px;
  border   : 10px dashed rgba(0, 0, 0, 0.5);
  overflow : scroll;
  margin   : -172px 0 0 -430px;
  padding  : 20px 0 0 20px;
  position : absolute;
  left     : 50%;
  top      : 50%;
}
.number {
  background     : rgba(143, 244, 255, 0.5);
  border         : 1px solid black;
  border-radius  : 5px;
  display        : inline-block;
  width          : 150px;
  height         : 150px;
  margin         : 0 20px 20px 0;
  font-size      : 50px;
  text-align     : center;
  vertical-align : middle;
  line-height    : 150px;
}
.number:hover {
  background: rgba(232, 255, 148, 0.5);
}
.success {
  background: green;
}
.failure {
  background: red;
}
aside {
  width   : 160px;
  border  : 5px solid black;
  padding : 10px;
  float   :right;
  color   : white;
}
aside button {
  display: inline;
  color: black;
  text-align: center;
}